@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
background-color: Navy;
color: white;
}

.header-button{
   display: flex;
   padding: 20px;
   justify-content: center;
   align-items: center;
   gap: 15px
   
}

.form{
  background-color: aqua;
  border: 5px solid ;

  text-align: center;
  align-items: center;
  display: flex;
}
.footer{
  background-color: navy;
  color: white;
  align-items: center;
  text-align: center;
}





.box {
  text-transform: uppercase;
  color: #0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: inline;
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 50%/2500px 2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
          background-clip: text;
}




:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 30vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

* {
  box-sizing: border-box;
}


.h1 {
  font-size: 30px;
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: var(--color-background);
  font-size: 30px;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}


.main{
  align-items: centre;
  text-align: center;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
